* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.frame {
	max-width: 1300px;
    padding: 0 30px;
    margin: 0 auto;
}

.mgt10 {
	margin-top: 10px;
}

.pdl0 {
	padding-left: 0px !important;
}